<div class="layout__content">

  <div class="content__query">

    <select name="city" class="query__select" [(ngModel)]="selectedCity">
      <option value="" disabled selected>Seleccione la Ciudad</option>
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>

    <input type="checkbox" name="historic" class="query__check" />
    <label class="query__label" for="historic">Incluir histórico</label>

    <button id="query__btn" class="query__btn" (click)="getWeather()">Consultar</button>

  </div>

  <div class="content__data" *ngIf="weatherData">
    <label class="data__label">Ciudad: {{ weatherData.name }}, {{ weatherData.sys.country }}</label>
    <label class="data__label">Clima: {{ weatherData.main.temp }}° - Sensación Térmica: {{ weatherData.main.feels_Like }}°</label>
  </div>

  <div class="content__table">

    <table>
      <thead class="table__header">
        <tr>
          <th>País</th>
          <th>Ciudad</th>
          <th>Clima</th>
          <th>Sensación Térmica</th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr>
          <td>Argentina</td>
          <td>Buenos Aires</td>
          <td>31.6°</td>
          <td>33°</td>
        </tr>
        <tr>
          <td>Argentina</td>
          <td>Buenos Aires</td>
          <td>28.2°</td>
          <td>27°</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!--*ngIf="weatherHistoric"-->
