<div class="layout__content">

  <div class="content__query">

    <select name="city" class="query__select">      
      <option defaultvalue="">Seleccione la Ciudad</option>
      <option value="">Tucuman</option>
    </select>

    <input type="checkbox" name="historic" class="query__check" />
    <label class="query__label" for="historic">Incluir histórico</label>

    <button class="query__btn">Consultar</button>

  </div>

  <div class="content__data">
    <label class="data__label">Ciudad: Buenos Aires, Argentina</label>
    <label class="data__label">Clima: 31,6° - Sensacion Termica: 33°</label>
  </div>

  <div class="content__table">

    <table>
      <thead class="table__header">
        <tr>
          <th>País</th>
          <th>Ciudad</th>
          <th>Clima</th>
          <th>Sensación Térmica</th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr>
          <td>Argentina</td>
          <td>Buenos Aires</td>
          <td>31.6°</td>
          <td>33°</td>
        </tr>
        <tr>
          <td>Argentina</td>
          <td>Buenos Aires</td>
          <td>28.2°</td>
          <td>27°</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
